# .coveragerc to control coverage.py
[run]
branch = True
omit =
        *__init__*
[report]
# Regexes for lines to exclude from consideration
omit = bonus/**, tests/**
exclude_lines =
        pragma: no cover
        if __name__ == "__main__":
        def main
[html]
directory = coverage_html_report